@import "../../global.scss";
.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}
.image {
  max-width: 305px;
  max-height: 183px;
}
.image img {
  height: 100%;
  width: 100%;
}
.section_subTitle {
  font-family: $font-h1;
}
@media (orientation: landscape) {
  .feature {
    flex-basis: 45%;
  }
  .image {
    flex-basis: 45%;
  }
}
@media (min-width: 1025px) {
  .feature {
    flex-basis: 33%;
  }
  .image {
    flex-basis: 33%;
  }
}
